extends layout

block content
  h1 ArrayMap data accessed using node express (experimental) 
  p The are samples here 
  a(href='/samples?limit=10') Samples (first 10)
  p
  a(href='/samples') Samples (all)
  p
  a(href='/v0.2/query?chromosome=9&position=57649422') Implementation of Beacon v0.2 draft
  p
  a(href='/v0.2/query?chromosome=9&position=57649422&dataset=8010/3') Implementation of Beacon v0.2 draft with dataset
  p
  a(href='/info') Drafts info
